
Kassa/.vs/Kassa/v15/Server/sqlite3/storage.ide-shm
Kassa/.vs/Kassa/v15/.suo
Kassa/.vs/Kassa/v15/Server/sqlite3/storage.ide-shm
Kassa/XmlrpcAPI/bin/Debug/netcoreapp2.2/XmlrpcAPI.runtimeconfig.dev.json
Kassa/XmlrpcAPI/bin/Debug/netcoreapp2.2/XmlrpcAPI.runtimeconfig.dev.json
Kassa/XmlrpcAPI/bin/Debug/netcoreapp2.2/XmlrpcAPI.runtimeconfig.dev.json
Kassa/XmlrpcAPI/bin/Debug/netcoreapp2.2/XmlrpcAPI.deps.json
Kassa/RabbitMQ/obj/RabbitMQ.csproj.nuget.g.props
*.json
Kassa/.vs/config/applicationhost.config
Kassa/.vs/config/applicationhost.config
*.props
